.acordeonItem{
    background-color: transparent;
    margin: 20px 0;
}

.acordeonHeader h3{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
}

.acordeonBody{
    font-size: 1em;
    font-weight: bolder;
    font-size: 1.2em;
}
.acordeonSeparacion{
    margin-bottom: 80px;
}

.article{
    padding: 30px;
}
.article p, u, li{
    font-weight: bolder; 
}

.recurso{
    display: block;
    background-color: #2F4730;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.objetivos a{
    color: brown;   
    text-decoration: none;
    margin: 0 auto;
    background-color: rgb(228, 207, 182);
    padding: 2px 5px;
    font-size: 1.2em;
    color:blue;
}
.accordion_saber{
    background-color: rgb(174, 189, 190); 
}
.saber h2 button{
    background-color: rgb(174, 189, 190);
}
.saber h2 button:hover{
    background-color: rgb(174, 189, 190);
}
.saber h2 button h2:hover{
    background-color: rgb(228, 207, 182);
}
.saber h2 button h2{
    width: 100%;
    background-color: bisque;
    color: brown;
    display: block;
    padding: 10px;
}
.objetivos{
    background-color: rgb(174, 189, 190);
    padding: 10px;
}
.puntuacion{
    margin-top: 10px;
    font-weight: bold;
}
.no_seleccionado{
    /*background-color: rgb(139, 130, 130);*/
    margin: 1px 5px;
    font-weight: bold;
    text-align: center;
}
.comprobar{
    background-color: green;
    border: 1px solid white;
    padding: 5px;
    margin-right: 5px;
    color: white;
}
.mostrar{
    background-color: blue;
    border: 1px solid white;
    padding: 5px; 
    color: white;
}
